{{twbs-navbar}}
{{outlet}}
<section class="bg-slate">
  <div class="container">
    <div class="row row-margin-bottom row-margin-top">
      <div class="col-sm-12 text-center">
        <a class="fa-stack fa-stack-facebook fa-lg" href="https://www.facebook.com/ImprovementAssociates"
           target="_blank">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </a>
        <a class="fa-stack fa-stack-linkedin fa-lg" href="#" target="_blank">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </a>
        <a class="fa-stack fa-lg" href="mailto:info@improvementassociates.com" target="_blank">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </a>
      </div>
      <div class="col-xs-offset-3 col-xs-6">
        <hr/>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12 text-center">
        <p class="small">
          <i class="fa fa-copyright"></i>
          {{moment-format (now) "YYYY"}} Improvement Associates Ltd. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</section>
