<section>
  <div class="container">
    <div class="page-header">
      <h2>
        Contact Us
      </h2>
    </div>
    <h3>
      Associates
    </h3>
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img
          alt=""
          class="img-rounded pull-left"
          style="margin-right: 15px; width: 120px;"
          src="/assets/images/team/leanne-2.png"
        />
        <h4>
          Leanne Couves
        </h4>
        <h5>
          Co-Founder/Improvement Advisor
        </h5>
        <h6>
          <a href="mailto:lcouves@improvementassociates.com">
            lcouves@improvementassociates.com
          </a>
        </h6>
        <h6>
          <a href="tel:+1-780-446-9940">
            +1-780-446-9940
          </a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br />
        <p class="text-justify">
          Leanne Couves co-founded Improvement Associates in 2000, fueled by a desire to improve how we experience
          healthcare. She brings 20 years of experience of leading and supporting improvement initiatives in the
          healthcare system.
        </p>
        <p class="text-justify">
          Leanne has designed and supported national and provincial Collaboratives and Action Series, taught at over
          100 face-to-face and virtual Learning Sessions and has led the writing of several improvement guides.
          Leanne is a Faculty member with the Canadian ICU Collaborative and the BC Patient Safety & Quality Council's
          (BCPSQC)
          <a
            href="https://bcpsqc.ca/sharpen-your-skills/quality-academy/"
            rel="nofollow noreferrer"
            target="_blank"
          >
            Quality Academy
          </a>
          professional development programs, where she coaches healthcare professionals and
          teams in applying the art and science of improvement science to their local initiatives.  She is also
          certified in delivering the
          <a
            href="https://www.corestrengths.com/"
            rel="nofollow noreferrer"
            target="_blank"
          >
            Strength Deployment Inventory (SDI)
          </a>
          assessment tool to help build better
          teams and manage conflict.
        </p>
        <p class="text-justify">
          Leanne's education includes a Bachelor of Commerce degree and a Certificate in Adult and Continuing Education, both from the University of Alberta. In her spare time, she volunteers on community Boards, coaches youth sport and spends time with her active family.
        </p>
        <p class="text-justify">
          She loves bringing people together, working towards a shared purpose and exploring new ideas, theories and possibilities.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img
          alt=""
          class="img-rounded pull-left"
          style="margin-right: 15px; width: 120px;"
          src="/assets/images/team/bruce.jpg"
        />
        <h4>
          Bruce Harries
        </h4>
        <h5>
          Co-Founder/Improvement Advisor
        </h5>
        <h6>
          <a href="mailto:bharries@improvementassociates.com">
            bharries@improvementassociates.com
          </a>
        </h6>
        <h6>
          <a href="tel:+1-780-717-2100">
            +1-780-717-2100
          </a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br />
        <p class="text-justify">
          Bruce has been involved in the improvement of business performance for most of his career. Initially he worked
          as a consultant focusing on business start-ups in telecommunications, transportation and agriculture. He spent
          a number of years with TELUS Corporation in a variety of management roles including Corporate Secretary,
          Director of Communications and Director of Quality. He co-founded Improvement Associates in 2000 and has
          worked primarily on the improvement of healthcare. He is Collaborative Director for the Canadian Collaborative
          to Improve Patient Care and Safety in the ICU, past-director of the Evidence to Excellence Emergency
          Department Collaborative and has advised on a number of initiatives such as the National ICU Scorecard and the
          <em>
            Safer Healthcare Now!
          </em>
          Campaign. He is a graduate of Trent University, the Banff School of Advanced
          Management and holds an MBA from IMD in Lausanne, Switzerland.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img
          alt=""
          class="img-rounded pull-left"
          style="margin-right: 15px; width: 120px;"
          src="/assets/images/team/ardis.jpg"
        />
        <h4>
          Ardis Eliason
        </h4>
        <h5>
          Project Coordinator
        </h5>
        <h6>
          <a href="mailto:aeliason@improvementassociates.com">
            aeliason@improvementassociates.com
          </a>
        </h6>
        <h6>
          <a href="tel:+1-780-434-1823">
            +1-780-434-1823
          </a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br />
        <p class="text-justify">
          Ardis joined the Improvement Associates team as a Project Coordinator in 2005.&nbsp; Prior to that, she was
          involved in teacher education at the University of Alberta working with third and fourth-year Education
          students preparing for their student teaching practicum.&nbsp; As well, she has been an Office Manager for
          various profit and non-profit organizations.&nbsp; Ardis is an active volunteer in her community and is a
          board member on several non-profit executive groups. She holds a Master's Degree in Education (MEd) from the
          University of Alberta.
        </p>
      </div>
    </div>
  </div>
</section>
{{outlet}}