<section>
  <div class="container">
    <div class="page-header">
      <h2>Contact Us</h2>
    </div>
    <h3>Associates</h3>
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img alt="" class="img-rounded pull-left" style="margin-right: 15px; width: 120px;"
             src="/assets/images/team/leanne.jpg">
        <h4>Leanne Couves</h4>
        <h5>Co-Founder/Improvement Advisor</h5>
        <h6>
          <a href="mailto:lcouves@improvementassociates.com">lcouves@improvementassociates.com</a>
        </h6>
        <h6>
          <a href="tel:+1-780-446-9940">+1-780-446-9940</a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br/>
        <p>
          Leanne worked a number of years with a telecommunications firm, leading and providing education to improvement
          teams across the company. She co-led the Customer Satisfaction Measurement team, designed two
          system-wide collaborative projects, coordinated education opportunities and co-authored the company’s
          Measurement and Cycle Time Improvement Guides.&nbsp;She co-founded Improvement Associates in 2000 and has
          worked primarily on the improvement of healthcare. As an Improvement Advisor, Leanne has designed and
          supported over 20 Breakthrough Series Collaboratives across Canada and has taught at over 70 Learning
          Sessions.&nbsp; She has led the writing of several improvement guides based on these approaches. Leanne holds
          a Bachelor of Commerce degree and Certificate in Adult and Continuing Education from the University of
          Alberta.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img alt="" class="img-rounded pull-left" style="margin-right: 15px; width: 120px;"
             src="/assets/images/team/bruce.jpg">
        <h4>Bruce Harries</h4>
        <h5>Co-Founder/Improvement Advisor</h5>
        <h6>
          <a href="mailto:bharries@improvementassociates.com">bharries@improvementassociates.com</a>
        </h6>
        <h6>
          <a href="tel:+1-780-717-2100">+1-780-717-2100</a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br/>
        <p>
          Bruce has been involved in the improvement of business performance for most of his career. Initially he worked
          as a consultant focusing on business start-ups in telecommunications, transportation and agriculture. He spent
          a number of years with TELUS Corporation in a variety of management roles including Corporate Secretary,
          Director of Communications and Director of Quality. He co-founded Improvement Associates in 2000 and has
          worked primarily on the improvement of healthcare. He is Collaborative Director for the Canadian Collaborative
          to Improve Patient Care and Safety in the ICU, past-director of the Evidence to Excellence Emergency
          Department Collaborative and has advised on a number of initiatives such as the National ICU Scorecard and the
          <em>Safer Healthcare Now!</em> Campaign. He is a graduate of Trent University, the Banff School of Advanced
          Management and holds an MBA from IMD in Lausanne, Switzerland.
        </p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row row-margin-bottom">
      <div class="col-xs-12">
        <img alt="" class="img-rounded pull-left" style="margin-right: 15px; width: 120px;"
             src="/assets/images/team/ardis.jpg">
        <h4>Ardis Eliason</h4>
        <h5>Project Coordinator</h5>
        <h6>
          <a href="mailto:aeliason@improvementassociates.com">aeliason@improvementassociates.com</a>
        </h6>
        <h6>
          <a href="tel:+1-780-434-1823">+1-780-434-1823</a>
        </h6>
      </div>
      <div class="col-xs-12">
        <br/>
        <p>
          Ardis joined the Improvement Associates team as a Project Coordinator in 2005.&nbsp; Prior to that, she was
          involved in teacher education at the University of Alberta working with third and fourth-year Education
          students preparing for their student teaching practicum.&nbsp; As well, she has been an Office Manager for
          various profit and non-profit organizations.&nbsp; Ardis is an active volunteer in her community and is a
          board member on several non-profit executive groups. She holds a Master’s Degree in Education (MEd) from the
          University of Alberta.
        </p>
      </div>
    </div>
  </div>
</section>
{{outlet}}
