<section>
  <div class="container">
    <h1>Contact Us</h1>
    <p><strong>Bruce Harries&nbsp;&nbsp;</strong></p>
    <p>780.717.2100</p>
    <p><a href="mailto:bharries@telus.net">bharries@telus.net</a></p>
    <p>&nbsp;</p>
    <p><strong>Leanne Couves</strong></p>
    <p>780.446.9940</p>
    <p><a href="mailto:lcouves@telus.net">lcouves@telus.net</a></p>
    <p>&nbsp;</p>
    <p><strong>Ardis Eliason</strong></p>
    <p>780.434.1823</p>
    <p><a href="mailto:aeliason@telus.net">aeliason@telus.net</a></p>
  </div>
</section>
{{outlet}}
