<section class="bg-image bg-image-linking-entities" style="display: flex; align-items: flex-end;">
  <div class="container" style="margin-bottom: 75px;">
    <h1 class="hero-heading text-center">
      Building The Capability For Ongoing Improvement
    </h1>
  </div>
</section>
<section class="reveals">
  <div class="container">
    <div class="row row-margin-top row-margin-bottom">
      <div class="col-sm-4 col-md-3">
        <img alt="" class="img-responsive img-rounded"
             src="/assets/images-preview/stock-photo-make-things-better-improvement-concept-black-background-546452842.jpg">
      </div>
      <div class="col-sm-8 col-md-9">
        {{#scroll-reveal/div origin="right" distance="250px" reset=true duration=1000}}
          <h4>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
            Applying methods based on the science of improvement.
          </h4>
          <h4>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
            Initiating and leading collaborative efforts crossing all industries.
          </h4>
        {{/scroll-reveal/div}}
        {{#scroll-reveal/div origin="right" distance="250px" reset=true duration=1000}}
          <h4>
            <span class="fa-stack">
              <i class="fa fa-circle fa-stack-2x text-success"></i>
              <i class="fa fa-check fa-stack-1x fa-inverse"></i>
            </span>
            Sharing our knowledge and leadership with the larger community.
          </h4>
        {{/scroll-reveal/div}}
      </div>
    </div>
  </div>
</section>

<section class="bg-alternate">
  <div class="container">
    <div class="row row-margin-top row-margin-bottom text-center">
      <div class="col-sm-4">
        <img alt="" class="img-circle img-responsive center-block"
             src="/assets/images-preview/brad-pitt-burn-after-readin.jpg-c200">
        <h4>Leanne Couves</h4>
        <h5>Consultant</h5>
        <h6>
          <a href="mailto:leanne@improvementassociates.com">leanne@improvementassociates.com</a>
        </h6>
      </div>
      <div class="col-sm-4">
        <img alt="" class="img-circle img-responsive center-block"
             src="/assets/images-preview/p397275892-11.jpg">
        <h4>Bruce Harries</h4>
        <h5>Consultant</h5>
        <h6>
          <a href="mailto:bruce@improvementassociates.com">bruce@improvementassociates.com</a>
        </h6>
      </div>
      <div class="col-sm-4">
        <img alt="" class="img-circle img-responsive center-block"
             src="/assets/images-preview/brad-pitt-burn-after-readin.jpg-c200">
        <h4>Ardis Eliason</h4>
        <h5>Consultant</h5>
        <h6>
          <a href="mailto:ardis@improvementassociates.com">ardis@improvementassociates.com</a>
        </h6>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row row-margin-top row-margin-bottom">
    <div class="col-sm-8">
      {{#scroll-reveal/div origin="right" distance="250px" reset=true duration=1000}}
        <h3>Services</h3>
        <p>
          Improvement Associates helps individuals and organizations build capability for ongoing improvement. We work
          with leaders and teams to apply management theories, methods and tools based on the science and art of
          improvement.
        </p>
      {{/scroll-reveal/div}}

    </div>
    <div class="col-sm-4">
      <img alt="" class="img-responsive img-rounded"
           src="/assets/images-preview/stock-photo-two-businessmen-discussing-some-project-192993206.jpg">
    </div>
  </div>
  <div class="row row-margin-top row-margin-bottom">
    <div class="col-sm-4">
      <p>
        <img alt="" class="img-responsive img-rounded"
             src="/assets/images-preview/stock-photo-high-angle-view-of-businessmen-hands-touching-white-papers-arranged-on-a-rustic-wooden-table-307471286.jpg">
      </p>
    </div>
    <div class="col-sm-8">
      {{#scroll-reveal/div origin="left" distance="250px" reset=true duration=1000}}
        <h3>Methods</h3>
        <p>
          A System of Improvement is an integrated management framework guided by Dr. Deming’s System of Profound
          Knowledge, leading an organization toward its aim, enabling continual delivery of products, services and
          programs that will be in demand in the future and providing a place where people can take pride in their work.
        </p>
      {{/scroll-reveal/div}}
    </div>
  </div>
</section>
{{outlet}}
