<section>
  <div class="container">
    <h1>
      Methods </h1>
    <p>A <b>System of Improvement</b> is an integrated management framework guided by Dr. Deming’s System of Profound
      Knowledge, leading an organization toward its aim, enabling continual delivery of products, services and
      programs that will be in demand in the future and providing a place where people can take pride in their work.
      We provide guidance on the management theories and applications that support optimization of the organization.&nbsp;
      This work integrates five activities:</p>
    <ul>
      <li>Developing purpose and values</li>
      <li>Understanding process performance</li>
      <li>Gathering and using information</li>
      <li>Planning</li>
      <li>Managing improvement activities</li>
    </ul>
    <p><b>Collaboratives</b> were designed by Associates in Process Improvement (API) and the Institute for Healthcare
      Improvement (IHI) to accelerate the pace of improvement in healthcare. Although originally designed for
      healthcare, the approach has been applied within other industries.&nbsp; The method brings together multiple
      teams working toward a common aim and relies on the spread and adaptation of existing knowledge to many
      settings.</p>
    <p>The <b>Model for Improvement</b> is a comprehensive framework for learning and making improvements.&nbsp; It is
      used within a Collaborative and can be used on its own by a single team in any industry or setting.</p>
    <p><img
      class="alignnone size-full wp-image-175" alt="Modelsplash"
      src="?"
      width="168" height="252"></p>
    <p>A combination of <b>Planned Experimentation and Quality Function Deployment</b> can be applied to design
      products, services and programs that better meet customer needs in a shorter timeframe.</p>
    <p><b>Measurement and statistical methods</b> can help leaders and teams make decisions and understand if changes
      are improvements.&nbsp; <b>Facilitation and team skills</b> are tools that support the leadership of improvement
      projects. &nbsp;<b>Relationship Awareness and the Strength Deployment Inventory (SDI)</b> are used to understand
      Motivational Values Systems to enhance individual and team relationships and performance.</p>
  </div>
</section>
<section>
  <div class="container">
    <h1>Resources</h1>
    <p>Below are a number of resources to help along your journey to improvement.</p>
    <h2></h2>
    <h2>Websites</h2>
    <p><a href="http://www.apiweb.org/">Associates in Process Improvement (API)</a></p>
    <p><a href="http://www.ihi.org">Institute for Healthcare Improvement (IHI)</a></p>
    <p><a href="http://www.pipproducts.com/">Process Improvement Products</a><strong> </strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><a href="http://bcpsqc.ca/">BC Patient Safety and Quality Council</a></p>
    <p><a href="http://www.patientsafetyinstitute.ca/English/Pages/default.aspx">Canadian Patient Safety Institute
      (CPSI)</a><strong> </strong><strong></strong></p>
    <p><a href="http://www.directedcreativity.com/pages/WhosPEPFrameset.html"
          target="_blank">DirectedCreativity(tm)</a></p>
    <p><a href="http://www.iom.edu/" target="_blank">Institute of Medicine</a></p>
    <p><a href="http://www.nqi.ca/" target="_blank">National Quality Institute (NQI)</a></p>
    <p><a href="http://www.qfdi.org/" target="_blank">QFD Institute</a></p>
    <p><a href="http://www.qca.org/" target="_blank">Quality Council of Alberta (QCA)</a></p>
    <p><a href="http://www.qhn.ca/" target="_blank">Quality Healthcare Network (QHN)</a><strong></strong></p>
    <p><i><a href="http://www.saferhealthcarenow.ca/">Safer Healthcare Now! </a></i></p>
    <p><a href="http://hqc.sk.ca/">Saskatchewan Health Quality Council</a><strong></strong></p>
    <p><a href="http://www.spcpress.com/" target="_blank">SPC Press (Don Wheeler)</a></p>
    <p><a href="http://www.deming.org/" target="_blank">W. Edwards Deming Institute </a></p>
    <p>&nbsp;</p>
    <h2>Articles &amp; Books</h2>
    <p>See API’s listing of useful papers, articles, books, etc.&nbsp; <a
      href="http://www.apiweb.org/publications.htm" target="_blank">http://www.apiweb.org/publications.htm</a></p>
    <p>&nbsp;</p>
    <p>Here are a few more…</p>
    <p>deBono, E. <em>Based on Lateral Thinking Creativity </em>course materials by Sproule and Associates. 1997.</p>
    <p>deBono, E. <em>Serious Creativity. </em>Harper Collins. New York. 1992.</p>
    <p>Deming, W. Edwards. <em>Out of the Crisi</em>s. Massachusetts Institute of Technology Press. 1986.</p>
    <p>Deming, W. Edwards. <em>The New Economics for Industry. Government, Education. </em>Massachusetts Institute of
      Technology. Center for Advanced Engineering Study. 1993.</p>
    <p>Kohn, Linda T., Corrigan, Janet M., Donaldson, Molla S., <em>To Err is Human: Building a Safer Health
      Syste</em>m. Committee on Quality of Health Care in America, Institute of Medicine. 2001.</p>
    <p>Langley, G, Nolan, K., Nolan T., Norman C., Provost L. <em>The Improvement Guide: A Practical Approach to
      Enhancing Organizational Performance. </em>San Francisco, CA. Jossey-Bass Publishers. 1996.</p>
    <p>Moen R., Nolan T., Provost L. <em>Quality Improvement through Planned Experimentatio</em>n. McGraw-Hill. 1998.
    </p>
    <p>Nolan T., Schall M., Berwick D., Roessner <em>J. Reducing Delays and Waiting Times Throughout the Healthcare
      Syste</em>m. Boston, MA. Institute for Healthcare Improvement. 1996.</p>
    <p>Richardson, W., Berwick, D., Bisgard, J., et al. <em>Crossing the Quality Chasm: A New Health System for the
      21<sup>st</sup>
      Century.</em>Committee on Quality of Health Care in America, Institute of Medicine. 2002</p>
    <p>Womack, J., Jones. D. Beyond Toyota: How to Root out Waste and Pursue Perfection. Harvard Business Review.
      Sept./Oct. 1996.</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
</section>
{{outlet}}
