<section>
  <div class="container">
    <div class="page-header">
      <h2>Services</h2>
    </div>
    <div class="row row-margin-bottom">
      <div class="col-sm-5 col-md-6 col-lg-4">
        <img alt="" class="img-responsive img-rounded"
             src="/assets/images/shutterstock_528942049.jpg">
      </div>
      <div class="col-sm-7 col-md-6 col-lg-8">
        <ul>
          <li>Guidance for senior leaders on building a System of Improvement.</li>
          <li>Guidance, education and consulting in applying innovative methods to increase the pace and impact of
            improvement.&nbsp; Approaches include:
            <ul>
              <li>Collaboratives</li>
              <li>Accelerated Model for Improvement for individual teams and groups of teams</li>
              <li>Sponsored Testing using&nbsp;Planned Experimentation</li>
              <li>Action Series webinars</li>
              <li>Improvement Advisor programs</li>
              <li>Transforming Healthcare Leadership workshop</li>
              <li>Strength Deployment Inventory (SDI)&nbsp;workshops</li>
              <li>Improving Performance Measurement workshops</li>
            </ul>
          </li>
          <li>Education and training for teams in developing skills necessary to support improvement projects</li>
          <li>Presentations and publications</li>
        </ul>
      </div>
    </div>
  </div>
</section>
{{outlet}}
