<section>
  <div class="container">
    <h1>
      About Us </h1>
    <h2>Purpose</h2>
    <p>Improvement Associates helps individuals and organizations build capability for ongoing improvement.&nbsp; We
      work with leaders and teams to apply management theories, methods and tools based on the science and art of
      improvement. This includes working to better understand variation, appreciation of a system, how knowledge is
      created and working with people.</p>
    <p>&nbsp;</p>
    <h2>Values</h2>
    <p>We believe that:</p>
    <ul>
      <li>Ongoing learning and continuous improvement of quality are vital to accomplishing the objectives of all
        organizations including industry, government, healthcare and education.
      </li>
      <li>Humility and openness are prerequisites for learning and growth.</li>
      <li>People want to make a meaningful contribution. We focus on understanding the contributions of both the system
        and the individual.
      </li>
      <li>Improvement is everyone’s job. Put everybody in the organization to work to accomplish the transformation.
      </li>
      <li>We build and maintain strong relationships with our clients and partners by:
        <ul>
          <li>Establishing and valuing long-term, mutually beneficial relationships built on trust.</li>
          <li>Fostering long-term improvement in our clients’ organizations.</li>
          <li>Building the knowledge of our clients to apply and maintain significant improvements.</li>
          <li>Ensuring the confidentiality of proprietary information gained by us in the course of our work.</li>
          <li>Making judicious use of both our clients’ and our own resources.</li>
        </ul>
      </li>
    </ul>
    <p>&nbsp;</p>
    <p>We contribute to organizations by:</p>
    <ul>
      <li>Helping organizations combine their subject matter knowledge with Dr. Deming’s System of Profound Knowledge.
        This system includes an appreciation of systems, understanding variation, building knowledge, and working with
        people.
      </li>
      <li>Initiating and leading collaborative efforts within similar organizations or industries.</li>
      <li>Sharing our knowledge and leadership with the larger community.</li>
    </ul>
    <p>&nbsp;</p>
    <p>We integrate these principles into our own organization:</p>
    <ul>
      <li>The value we provide is directly related to our shared knowledge. We participate in ongoing development aimed
        at maximizing our contribution to clients and fostering our pride and satisfaction in work.
      </li>
      <li>We are directly involved in leadership and running the business, utilizing the principles and methods we teach
        others.
      </li>
      <li>We consider our business’s return on investment to be a means to fund future activities.</li>
    </ul>
  </div>
  <div class="container">
    <h1>Services</h1>
    <ul>
      <li>Guidance for senior leaders on building a System of Improvement.</li>
      <li>Guidance, education and consulting in applying innovative methods to increase the pace and impact of
        improvement.&nbsp; Approaches include:
        <ul>
          <li>Collaboratives</li>
          <li>Accelerated Model for Improvement for individual teams and groups of teams</li>
          <li>Sponsored Testing using&nbsp;Planned Experimentation</li>
          <li>Action Series webinars</li>
          <li>Improvement Advisor programs</li>
          <li>Transforming Healthcare Leadership workshop</li>
          <li>Strength Deployment Inventory (SDI)&nbsp;workshops</li>
          <li>Improving Performance Measurement workshops</li>
        </ul>
      </li>
      <li>Education and training for teams in developing skills necessary to support improvement projects</li>
      <li>Presentations and publications</li>
    </ul>
  </div>
  <div class="container">
    <h1>Associates</h1>
    <p><b>Bruce Harries</b></p>
    <p><img alt="Bruce Harries" src="?" width="80" height="80"></p>
    <p>Bruce has been involved in the improvement of business performance for most of his career. Initially he worked as
      a consultant focusing on business start-ups in telecommunications, transportation and agriculture. He spent a
      number of years with TELUS Corporation in a variety of management roles including Corporate Secretary, Director of
      Communications and Director of Quality.&nbsp; He co-founded Improvement Associates in 2000 and has worked
      primarily on the improvement of healthcare.&nbsp; He is Collaborative Director for the Canadian Collaborative to
      Improve Patient Care and Safety in the ICU, past-director of the Evidence to Excellence Emergency Department
      Collaborative and has advised on a number of initiatives such as the National ICU Scorecard and the <i>Safer
        Healthcare Now!</i> Campaign.&nbsp;&nbsp; He is a graduate of Trent University, the Banff School of Advanced
      Management and holds an MBA from IMD in Lausanne, Switzerland.</p>
    <p>&nbsp;</p>
    <p><b>Leanne Couves</b></p>
    <p><img alt="Leanne Couves" src="?" width="83" height="86"></p>
    <p>Leanne worked a number of years with a telecommunications firm, leading and providing education to improvement
      teams across the company.&nbsp; She co-led the Customer Satisfaction Measurement team, designed two system-wide
      Collaborative projects, coordinated education opportunities and co-authored the company’s Measurement and Cycle
      Time Improvement Guides.&nbsp;She co-founded Improvement Associates in 2000 and has worked primarily on the
      improvement of healthcare. As an Improvement Advisor, Leanne has designed and supported over 20 Breakthrough
      Series Collaboratives across Canada and has taught at over 70 Learning Sessions.&nbsp; She has led the writing of
      several improvement guides based on these approaches. Leanne holds a Bachelor of Commerce degree and Certificate
      in Adult and Continuing Education from the University of Alberta.</p>
    <p>&nbsp;</p>
    <p><b>Ardis Eliason</b></p>
    <p><img alt="Ardis Eliason" src="?" width="70" height="99"></p>
    <p>Ardis<b> </b>joined the Improvement Associates team as a Project Coordinator in 2005.&nbsp; Prior to that, she
      was involved in teacher education at the University of Alberta working with third and fourth-year Education
      students preparing for their student teaching practicum.&nbsp; As well, she has been an Office Manager for various
      profit and non-profit organizations.&nbsp; Ardis is an active volunteer in her community and is a board member on
      several non-profit executive groups. She holds a Master’s Degree in Education (MEd) from the University of
      Alberta.<b></b></p>
    <p>&nbsp;</p>
  </div>
  <div class="container">
    <h1>
      Logo </h1>
    <h2><img
      alt="LogoFile"
      src="?"></h2>
    <p>Two interlinking and interdependent boxes symbolize the integration of two bodies of knowledge: our client’s
      subject matter knowledge with our knowledge of improvement. One is not complete without the other.&nbsp; The
      result is significant and lasting improvement in organizational performance.</p>
  </div>
</section>
{{outlet}}
